@import "twitter/bootstrap";
@import "bourbon";

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background: url(image_path("pages/binding_dark.png")) #262626;
}

.navbar-wrapper {
  position: relative;
  z-index: 10;
}

@media (min-width: 768px) {

  .navbar-wrapper {
    margin-top: 20px;
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

}

header {
  padding-top: 1px;
  background: url(image_path("pages/garden.png")) top center no-repeat;
  background-size: cover;

  min-height: 400px;
  border-bottom: solid 2px black;
}

.brand-banner {
  float: left;
  margin-top: -36px;
  margin-left: 0px;
  position: absolute;
}

.navbar-inverse {
  background: url(image_path("pages/binding_dark.png"));
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: 88px;
  }
}
.navbar-inverse .navbar-brand {
  margin-left: 120px;
  margin-right: 20px;
  color: #fff;
  font-size: 45px;
  position: relative;
  top: 8px;
  font-family: "Condiment";
}

#prime {
  margin-top: -250px;
  color: #fff;
}

.panel {
  background: url(image_path("pages/wild_oliva.png")) #262626;
  border-color: #111;

  .panel-heading {
    background: url(image_path("pages/dark_wall.png")) #171717;
    border-color: #111;
  }
}

.tease {
  padding: 10px;
  border: solid 2px #000;
  border-radius: 5px;
  box-shadow: 1px green;
  margin-bottom: 40px;
  min-height: 140px;

  .status {
    text-shadow: 2px 2px #000000;
    .label {
      text-shadow: none;
    }
  }

  &.foolishgalaxy {
    background: url(image_path("pages/foolishgalaxy_tease.jpg")) top left no-repeat;
    background-size: cover;
    text-align: center;

    .title {
      display: block;
      width: 100%;
      position: relative;
      top: -48px;
      margin-bottom: -7px;
      text-shadow: 2px 2px #000000;
      font-size: 36px;
      font-family: "Press Start 2P"
    }
  }

  &.pyroclasm {
    background: url(image_path("pages/pyro_tease.jpg")) top left no-repeat;
    background-size: cover;
    text-align: center;

    .title {
      width: 100%;
      position: relative;
      top: -37px;
      margin-bottom: 2px;
    }

  }

  &.forgecraft {
    background: url(image_path("pages/forgecraft_tease.jpg")) top left no-repeat;
    background-size: cover;
    text-align: center;

    .title {
      display: block;
      width: 100%;
      position: relative;
      top: -54px;
      margin-bottom: -14px;
      text-shadow: 2px 2px #000000;
      font-size: 42px;
    }
  }
}

.topic {
  .title {
    text-shadow: 2px 2px #000;
    margin-bottom: 5px;
  }

  .by {
    color: #ccc;
    margin-bottom: 20px;
  }

  .content {
    color: #cfcfcf;
  }

  hr {
    border-color: #666;
  }
}

.video-thumb {
  max-width: 100%;
}

